body{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Encode Sans Expanded", sans-serif;
}

 h3{
    color: crimson;
}

header h2 {
    color: cornflowerblue;
}

footer{
    background-color: blue;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;    
    padding: 20px 0;
    color: white;

}

footer a, i {
    color: white;
}
a:hover{
    color: crimson;
}

.jumbotron{
    padding: 30px;
    background: url(Healthcare-Tech.jpg);
    color: white;
    margin: 0;
}

.row-content{
    min-height: 200px;
    padding: 50px 0;
}

.navbar{
    background-color: darkblue;
}